@tailwind base;
@tailwind components;
@tailwind utilities;

#section1 {
  margin-top: -12px;
  padding-bottom: 100px;
  background: linear-gradient(
    to right,
    rgb(55, 65, 81),
    rgb(17, 24, 39),
    rgb(0, 0, 0)
  );
}
#section1_1 {
  padding-bottom: 100px;
}
#row1 {
  position: relative;
  justify-content: center;
}
#row2 {
  position: relative;
  justify-content: center;
}
#mission {
  padding-top: 50px;
  margin-top: -12px;
  background: linear-gradient(
    to right,
    rgb(55, 65, 81),
    rgb(17, 24, 39),
    rgb(0, 0, 0)
  );
  padding-bottom: 50px;
  margin-bottom: 30px;
}
#missiontitle {
  padding-bottom: 25px;
}
/* #daniel {
  position: relative;
  left: -14px;
}
#simon {
  position: relative;
  right: -35px;
}
#nate {
  position: relative;
  right: -16px;
}
#daniel {
  position: relative;
  left: 1px;
}
#vishal {
  position: relative;
  left: 15px;
} */
#vishal {
  position: relative;
  left: 1.1%;
}
#simon {
  position: relative;
  left: 1.5%;
}
#signuptitle {
  background: linear-gradient(
    to right,
    rgb(55, 65, 81),
    rgb(17, 24, 39),
    rgb(0, 0, 0)
  );
  margin-top: -12px;
}
#signupform {
  display: block;
  margin: 0 auto;
  margin-left: 25%;
  margin-top: 10px;
}
#googform {
  border: 1px solid black;
}
#row1 {
  padding-left: 1%;
}
#row2 {
  padding-left: 1%;
}
